/* RESET CƠ BẢN */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* HEADER */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

/* MENU */
nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    padding: 20px;
    text-align: center;
}

/* CARD */
.card {
    background: white;
    width: 300px;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* BUTTON */
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}


